.user-profile {
    border: 4px solid #FFA9AA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
  }
  
  .left img {
    width: 150px;
    height: 70px;
    /* border: 2px solid #FFA9AA; */
  }
  
  .center {
    text-align: center;
    font-size: 25px ;
  }
  
  .center h2 {
    color: #00578D;
  }
  
  .right {
    display: flex;
    gap: 10px;
  }
  
  .right button {
    border: 2px solid #FFA9AA;
    /* padding: 5px 10px; */
    background-color: #fff;
  }
  