.waiter-view {
  background-color: #00578D; 
  height: 46em;
}

.main-menu-buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 4px solid #FDA8AD;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  height: 36em;
  background-color: #fff;
  padding: 5px;
}

.menu-button, .order-ready-button {
  border: none;
  font-family: "Lucida Console", Courier, monospace;
    font-style: italic;
    font-weight: bold;
}

.menu-button, .order-ready-button, h1{
  text-decoration: none;
}

.menu-button {
  border: 5px solid #FDA8AD;
  background-color: #00578D;
  color: #FDA8AD;
  font-size: 40px;
  width: 8em;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-ready-button {
  border: 5px solid #00578D;
  background-color: #FDA8AD;
  color: #00578D;
  font-size: 40px;
  width: 8em;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .main-menu-buttons-container {
    flex-direction: column;
    height: auto;
    margin-bottom: 20em; /* Agrega espacio en la parte inferior */
  }

  .menu-button, .order-ready-button {
    width: 100%;
    margin-bottom: 1em;
  }
}

