.waiter-view {
  background-color: #00578D; 
}

.main-menu-buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 4px solid #FDA8AD;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  height: 39em;
  background-color: #fff;
  padding: 5px
}

.menu-button, .order-ready-button {
  border: none;
  font-style: italic;
  font-family: "Lucida Console", Courier, monospace;
  font-weight: bolder;
}


.menu-button {
  border: 5px solid #FDA8AD;
  background-color: #00578D;
  color: #FDA8AD;
  font-size: 40px;
  width: 8em;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;

}

.order-ready-button {
  border: 5px solid #00578D;
  background-color: #FDA8AD;
  color: #00578D;
  font-size: 40px;
  width: 8em;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
