.custom-table {
    max-width: 100%;
    overflow-x: auto;
    border: 5px solid #FFA9AA;
    color: #FFA9AA;
    font-family: "Lucida Console", Courier, monospace;
    font-style: italic;
    font-weight: bold;
    margin-top: 4em;
    width: 15em;
}

.custom-table th,
.custom-table td {
    background-color: #00578D;
    color: #FFA9AA;
    border: 2px solid #FFA9AA;
}

.custom-table th {
    background-color: #00578D;
    color: #FFA9AA;
    font-weight: bold;
    font-style: italic;
}

.product-image {
    max-width: 70px;
    max-height: 50px;
    object-fit: cover;
    display: block;
    margin: auto;
}

.check-icon {
    color:#fdfdfd;
    font-size: 32px;
    font-weight: bolder;
    background-color:#00578D;
}

.select-button {
    background-color:#00578D;
    border: solid #FFA9AA;
  }
  
  

