.logInBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
  height: 100vh; /* Esto asegura que el contenedor abarque el 100% de la altura de la ventana */
}

.logo {
  width: 400px;
  height: 120px;
  display: block;
  margin-bottom: 10px; /* Agregamos un espacio entre el logo y el cuadrito */
}

#cuadrito {
  background-color: #ffd3d3ec;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  height: 150px;
  border: 3px solid #326e99;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#emailbox, #passwordbox {
  border: 3px solid #f0b7b7ec;
  border-radius: 5px;
  width: calc(100% - 20px);
  height: 40px;
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
  margin-bottom: 10px;
  font-style: italic;
  font-weight: bold;
}

#loginButton {
  width: 100px;
  height: 40px;
  background-color: #f6b7b7ec;
  color: rgb(255, 255, 255);
  border: 3px solid #2e4789;
  border-radius: 5px;
  font-family: "Lucida Console", Courier, monospace;
  font-style: italic;
  font-weight: bold;
  align-self: center; /* Centra el botón dentro del cuadrito */
}

#emailbox::placeholder, #passwordbox::placeholder {
  font-weight: bold;
  color: #2e4789;
}
