.order-ready-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 4px solid #FDA8AD;
    margin-top: 1em;
    height: 38em;
    padding: 10px;
    background-color: #fff;
  }

  .tablenumber{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 4px solid #FDA8AD;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    height: 39em;
    background-color: #fff;
    padding: 5px
  }

  .delivered-button {
    background-color: #FDA8AD; 
    color: white; 
  
  }
  
  .orderproductwaiter {
    margin-top: 2rem;
    border: 2px solid #FDA8AD !important;
    border-collapse: collapse !important;
}

.table.orderProductWaiter thead th:first-child,
.table.orderProductWaiter thead th:nth-child(2),
.table.orderProductWaiter thead th:nth-child(3),
.table.orderProductWaiter thead th:nth-child(4),
.table.orderProductWaiter thead th:nth-child(5),
.table.orderProductWaiter thead th:nth-child(6),
.table.orderProductWaiter thead th:nth-child(7) {
  color: #00578D;
}

