/* Estilos para la vista de orden lista */
.order-ready-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 4px solid #FDA8AD;
  margin-top: 1em;
  height: 38em;
  padding: 10px;
  background-color: #fff;
}

.table.orderProductWaiter {
  margin-top: 2rem;
  border: 2px solid #FDA8AD !important;
  border-collapse: collapse !important;
  width: 100%;
}

.table.orderProductWaiter th,
.table.orderProductWaiter td {
  font-family: 'Lucida Console', Courier, monospace;
  border: 1px solid #FDA8AD;
  padding: 8px;
  text-align: center;
}

.table.orderProductWaiter th {
  color: #00578D;
}

.table.orderProductWaiter th:first-child,
.table.orderProductWaiter th:nth-child(2),
.table.orderProductWaiter th:nth-child(3),
.table.orderProductWaiter th:nth-child(4),
.table.orderProductWaiter th:nth-child(5),
.table.orderProductWaiter th:nth-child(6),
.table.orderProductWaiter th:nth-child(7) {
  color: #00578D;
}

.table.orderProductWaiter tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table.orderProductWaiter tbody tr:hover {
  background-color: #FDA8AD;
}

.delivered-button {
  background-color: #FDA8AD;
  color: black;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
}

.delivered-button.delivered {
  background-color: #FDA8AD;
  color: black;
}

.select-button {
  background-color: #00578D;;
  color: white;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
}

.select-button.delivered-button {
  background-color: #FDA8AD;
  color: rgb(255, 252, 252);
}

@media (max-width: 768px) {
  /* Estilos para tablet */
  .order-ready-container {
    height: auto;
    flex-direction: column;
  }

  .table.orderProductWaiter {
    margin-top: 1rem;
    max-width: 100%;
  }

  .table.orderProductWaiter th,
  .table.orderProductWaiter td {
    font-size: 14px;
  }

  .delivered-button,
  .select-button {
    font-size: 14px;
    padding: 6px 12px;
  }
}
